
/*
  Colors
*/

// Brand
$brand-hue: 275;
$brand-saturation: 45%;
$brand-lightness: 60%;

// Theme colors
$brand: hsl($brand-hue $brand-saturation $brand-lightness);
$text1: hsl($brand-hue 30% 85%);
$text2: hsl($brand-hue 20% 65%);
$text3: hsl($brand-hue 15% 45%);
$surface1: hsl($brand-hue 30% 10%);
$surface2: hsl($brand-hue 20% 17%);
$surface3: hsl($brand-hue 15% 25%);
$surface4: hsl($brand-hue 15% 35%);
$surface-shadow: hsla($brand-hue, 50%, 3%, 0.7);

/*
  Tipography
*/

// Font stack
$sans-family: (BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif);
$monospace-family: monospace;

// Font weights
$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;
$weight-black: 800;

// Font sizes
$font-sm: 12px;
$font-md: 14px;
$font: 16px;
$font-lg: 18px;
$font-xl: 24px;
$font-2xl: 32px;
$font-3xl: 40px;


/*
  Responsive
*/

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in rem
$breakpoints: (
  'mobile': 23.4375rem, // 375px
  'mobile2': 30rem, // 480px
  'tablet': 48rem, // 768px
  'tablet2': 64rem, // 1024px
  'desktop': 75rem, // 1200px
  'desktop2': 90rem, // 1440px
);

/// Breakpoints in px map (KEEP UPDATED!)
/// Used for some calculations (Bulma scss variables)
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in px
$breakpoints-px: (
  'mobile': 375px, // 375px
  'mobile2': 480px, // 480px
  'tablet': 768px, // 768px
  'tablet2': 768px, // 768px
  'desktop': 1200px, // 1200px
  'desktop2': 1440px, // 1440px
);

/*
  Utility variables
*/

// Padding
$padding-xs: 4px;
$padding-sm: 8px;
$padding-md: 12px;
$padding: 16px;
$padding-lg: 24px;
$padding-xl: 32px;
$padding-2xl: 64px;

// Spacing
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 12px;
$spacing: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
$spacing-2xl: 64px;

// Roundness
$rounded-sm: 2px;
$rounded-md: 4px;
$rounded: 6px;
$rounded-lg: 8px;
$rounded-xl: 12px;
$rounded-2xl: 24px;
$rounded-full: 9999px;

// Heights
$height-sm: 16px;
$height-md: 24px;
$height: 32px;
$height-lg: 40px;
$height-xl: 48px;
$height-54: 54px;
$height-64: 64px;
$height-72: 72px;
$height-96: 96px;

// Z indexes
$z-input-icon: 50;
$z-dropdown: 100;
$z-sticky: 200;
$z-fixed: 300;
$z-modal-backdrop: 400;
$z-modal: 500;
$z-popover: 600;
$z-tooltip: 700;

/*
  Component variables
*/

// Inputs
$input-height: 40px;
$input-padding: $padding-sm $padding;
$input-radius: $rounded;
