/*
 * Set up to use all available viewport space
 */
html,
body,
.app {
  display: flex;
  min-height: 100%;
}

body,
.app,
.layout {
  flex-grow: 1;
}

/**
 * Make images and svg adjust to its container's height and width
 */
svg,
img {
  height: auto;
  max-width: 100%;
}
