.shadow {
  border: 1px solid hsl($brand-hue 10% 50% / 15%);
  box-shadow: 0 3px 3px $surface-shadow;
  box-shadow: 
    0 1px 2px $surface-shadow, 
    0 2px 4px $surface-shadow, 
    0 4px 8px $surface-shadow, 
    0 8px 16px $surface-shadow,
    0 16px 32px $surface-shadow, 
    0 32px 64px $surface-shadow;
}
