.shadow {
  $border-color: math-div($shadow-saturation, 15%);
  border: 1px solid hsl($brand-hue 10% $border-color);
  box-shadow: 0 3px 3px $surface-shadow;
  box-shadow:
    0 2.8px 2.2px hsl($brand-hue $shadow-saturation $shadow-strength + .03),
    0 6.7px 5.3px hsl($brand-hue $shadow-saturation $shadow-strength + .01),
    0 12.5px 10px hsl($brand-hue $shadow-saturation $shadow-strength + .02),
    0 22.3px 17.9px hsl($brand-hue $shadow-saturation $shadow-strength + .02),
    0 41.8px 33.4px hsl($brand-hue $shadow-saturation $shadow-strength + .03),
    0 100px 80px hsl($brand-hue $shadow-saturation $shadow-strength)
  ;
}